@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply antialiased text-primary/90 bg-contrast border-primary/10;
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply mb-12 font-serif prose mx-auto grid justify-center text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid snap-mandatory grid-flow-col snap-x w-full gap-4 scroll-px-6 px-6 pb-4 overflow-x-scroll justify-start;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative rounded overflow-clip flex justify-center items-center;
    &::before {
      content: ' ';
      @apply z-10 absolute block top-0 left-0 w-full h-full shadow-border rounded;
    }
    img {
      @apply object-cover w-full aspect-[inherit];
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* right: 25px; */
  top: 25px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  left: 9rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content > div {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content2 a:hover {
  background-color: #f1f1f1;
}
/* .dropdown-content2:hover {background-color: #f1f1f1;} */
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropbtn2 {
  cursor: pointer;
}
.dropbtn2:hover .dropdown-content2 {
  display: block;
}
.dropbtn2:hover {
  background-color: #f1f1f1;
}
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
.navtest * {
  font-size: 1.5rem;
}
.navtest *:not(div):hover {
  text-decoration: underline;
}
.footer_top_right button {
  background: 0 0;
  min-width: 209px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 20px;
  height: 63px;
  background-color: #3a3a3a;
  color: #fff;
  border: 1px solid #000000;
  display: inline-block;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
  margin: 2rem;
}

.footer_top_right input {
  font-family: Poppins, sans-serif;
  color: #535353;
  font-size: 19px;
  font-weight: 300;
  max-width: 580px;
  height: 63px;
  background-color: transparent;
  border: 1px solid #7f7f7f;
  letter-spacing: 1px;
  margin: 2rem;
  flex-basis: 15rem;
  flex-grow: 9999;
  border-radius: 2px 0 0 2px;
  text-align: left;
  line-height: 1.2;
  padding: 10px 18px;
  outline: none;
  box-shadow: none;
}

.footer_top_left h3 {
  color: #101010;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}

.footer_top_left p {
  max-width: 400px;
  font-family: Poppins, sans-serif;
  color: #252525;
  font-size: 13px;
  font-weight: 400;
}
.footer_top {
  background-color: #d5cfc3;
}
.footer_middle {
  background-color: #f6f6f6;
  padding: 50px 0 40px;
}
.footer_middle_top {
  display: flex;
  padding-bottom: 50px;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1380px;
  margin: 0 auto;
}
.footer_middle_top_right {
  width: 80%;
  column-gap: 1rem;
  margin-left: -3rem;
  row-gap: 6rem;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: -0.5rem;
  padding: 0;
  list-style: none;
}
.footer_contact {
  color: #333232;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px !important;
  margin-top: 7px;
}
.footer_li {
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins, sans-serif;
  color: #0f0f0f;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer_middle_top_right_div {
  padding: 0 50px 0 0;
}
.footer_middle_top_right_div_top {
  font-size: 14px;
  color: #333232;
  font-family: Poppins, sans-serif;
}
.footer_middle_top_right_div li{
  font-family: Poppins,sans-serif;
    color: #333232;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 2rem;
}
